#tinymce {
    font-family: "Trebuchet MS","Arial","Helvetica","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    max-width: 650px;
    margin-left: 100px;
    
}

h1 {
    font-size: 1.4rem; 
    font-weight: 400; 
}
    
h2 {
    font-size: 1.3rem; 
    font-weight: 400; 
    border-bottom: thin solid #6495ed;
}

h3 {
    font-size: 1.2rem; 
    font-weight: 400; 
    border-left: 4px solid #6495ed;
    padding-left: 0.5rem;
}

h4 {
	font-size: 1.0rem;
	font-weight: 400;
}	

ul, ol {
	margin-left: 20px;
}

img {
	border: thin solid #dcdcdc;
}
